aspy.yaml==1.1.2
astor==0.7.1
astpretty==1.4.1
astroid==2.1.0
atomicwrites==1.3.0
attrs==18.2.0
autopep8==1.4.3
cfgv==1.4.0
coverage==4.5.2
entrypoints==0.3
fire==0.1.3
flake8==3.7.5
-e git+git@github.com:Tadaboody/good_smell.git@ad6eb9f48e2038c555dbeac2684ad0b9c6ea7a14#egg=good_smell
identify==1.2.1
importlib-metadata==0.8
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
more-itertools==5.0.0
nodeenv==1.3.3
pluggy==0.8.1
pre-commit==1.14.3
py==1.7.0
pycodestyle==2.5.0
pyflakes==2.1.0
pylint==2.2.2
pytest==4.2.0
pytest-cov==2.6.1
PyYAML==3.13
six==1.12.0
toml==0.10.0
virtualenv==16.3.0
wrapt==1.11.1
zipp==0.3.3
